In [1]:
#creating

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [7]:
#reading data

In [10]:
wine_reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv",error_bad_lines=False)

In [11]:
wine_reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [12]:
wine_reviews.shape

(150930, 11)

In [13]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [16]:
wine_reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv",error_bad_lines=False, index_col=1)
wine_reviews.head()

,Unnamed: 0,description,designation,points,price,province,region_1,region_2,variety,winery
country,,,,,,,,,,
US,0,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
Spain,1,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
US,2,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
US,3,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
France,4,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [17]:
#indexing

In [19]:
reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv",error_bad_lines=False, index_col=0)
pd.set_option('max_rows', 5)

In [20]:
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [21]:
reviews.country

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [22]:
reviews['country']

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [23]:
reviews['country'][0]

'US'

In [24]:
reviews.iloc[0]

country                                                       US
description    This tremendous 100% varietal wine hails from ...
                                     ...
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, Length: 10, dtype: object

In [25]:
reviews.iloc[:, 0]

0             US
1          Spain
           ...
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [26]:
reviews.iloc[:3, 0]

0       US
1    Spain
2       US
Name: country, dtype: object

In [27]:
reviews.iloc[1:3, 0]

1    Spain
2       US
Name: country, dtype: object

In [28]:
reviews.iloc[[0, 1, 2], 0]

0       US
1    Spain
2       US
Name: country, dtype: object

In [29]:
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [30]:
reviews.loc[0, 'country']

'US'

In [31]:
reviews.country == 'Italy'

0         False
1         False
          ...
150928    False
150929     True
Name: country, Length: 150930, dtype: bool

In [32]:
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
...,...,...,...,...,...,...,...,...,...,...
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [33]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
...,...,...,...,...,...,...,...,...,...,...
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [34]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [35]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [37]:
#assigning data

In [38]:
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
            ...
150928    everyone
150929    everyone
Name: critic, Length: 150930, dtype: object

In [39]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         150930
1         150929
           ...
150928         2
150929         1
Name: index_backwards, Length: 150930, dtype: int32

In [40]:
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic,index_backwards
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,everyone,150930
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,everyone,150929
...,...,...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset,everyone,2
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder,everyone,1

In [41]:
reviews.points.describe()

count    150930.000000
mean         87.888418
             ...
75%          90.000000
max         100.000000
Name: points, Length: 8, dtype: float64

In [42]:
reviews.points.mean()

87.8884184721394

In [43]:
#map

In [44]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0         8.111582
1         8.111582
            ...
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [45]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic,index_backwards
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,8.111582,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,everyone,150930
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,8.111582,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,everyone,150929
...,...,...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,2.111582,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset,everyone,2
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,2.111582,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder,everyone,1

In [46]:
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic,index_backwards
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,everyone,150930

In [47]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0         8.111582
1         8.111582
            ...
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [48]:
reviews.country + " - " + reviews.region_1

0           US - Napa Valley
1               Spain - Toro
                 ...
150928    France - Champagne
150929    Italy - Alto Adige
Length: 150930, dtype: object

In [49]:
#grouping

In [51]:
import pandas as pd
reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv",error_bad_lines=False, index_col=0)
pd.set_option("display.max_rows", 5)

In [52]:
reviews.groupby('points').points.count()

points
80      898
81     1502
       ...
99       50
100      24
Name: points, Length: 21, dtype: int64

In [53]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     65.0
100    65.0
Name: price, Length: 21, dtype: float64

In [56]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Albania   Mirditë             Albania
Argentina Mendoza Province  Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
...                                                                       ...
Uruguay   San Jose          While this ranks as one of the best Uruguayan ...
          Uruguay           They call it Special Barrel, and one sniff tel...

                                                 designation  points  price  \
country   province
Albania   Mirditë                                        NaN      88   20.0
Argentina Mendoza Province                  Nicasia Vineyard      97  120.0
...                                                      ...     ...    ...
Uruguay   San Jose          El Preciado Premier Gran Reserva      89   60.0
          Uruguay                             Special Barrel      89   50.0

                                    province region_1 region_2    variety  \
country   province
Albania   Mirditë                    Mirditë      NaN      NaN    Kallmet
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN     Malbec
...                                      ...      ...      ...        ...
Uruguay   San Jose                  San Jose      NaN      NaN  Red Blend
          Uruguay                    Uruguay      NaN      NaN     Tannat

                                          winery
country   province
Albania   Mirditë                         Arbëri
Argentina Mendoza Province  Bodega Catena Zapata
...                                          ...
Uruguay   San Jose                Castillo Viejo
          Uruguay                          Bouza

[455 rows x 10 columns]

In [57]:
reviews.groupby(['country']).price.agg([len, min, max])

              len   min    max
country
Albania       2.0  20.0   20.0
Argentina  5631.0   4.0  250.0
...           ...   ...    ...
Ukraine       5.0  13.0   13.0
Uruguay      92.0   7.0   60.0

[48 rows x 3 columns]

In [58]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
...                          ...
Uruguay   San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [59]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [60]:
countries_reviewed.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
..         ...               ...   ...
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [61]:
#sorting

In [62]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country        province    len
154  Greece  Central Greece      1
207  Greece           Zitsa      1
..      ...             ...    ...
442      US      Washington   9750
422      US      California  44508

[455 rows x 3 columns]

In [63]:
countries_reviewed.sort_values(by='len', ascending=False)

         country                                province    len
422           US                              California  44508
442           US                              Washington   9750
..           ...                                     ...    ...
413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175       Greece                          Krania Olympus      1

[455 rows x 3 columns]

In [64]:
countries_reviewed.sort_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
..         ...               ...   ...
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [65]:
countries_reviewed.sort_values(by=['country', 'len'])

       country   province  len
0      Albania    Mirditë    2
2    Argentina      Other  889
..         ...        ...  ...
447    Uruguay  Canelones   19
450    Uruguay    Juanico   19

[455 rows x 3 columns]

In [66]:
#DTypes

In [68]:
import pandas as pd
reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv", index_col=0)
pd.set_option('max_rows', 5)

In [69]:
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [70]:
reviews.price.dtype

dtype('float64')

In [71]:
reviews.dtypes

country        object
description    object
                ...
variety        object
winery         object
Length: 10, dtype: object

In [72]:

reviews.points.astype('float64')

0         96.0
1         96.0
          ...
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [73]:
reviews.index.dtype

dtype('int64')

In [74]:
reviews.index.dtype

dtype('int64')

In [75]:
#missing data

In [76]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [77]:
reviews.region_2.fillna("Unknown")

0            Napa
1         Unknown
           ...
150928    Unknown
150929    Unknown
Name: region_2, Length: 150930, dtype: object

In [79]:
reviews.replace("@kerinokeefe", "@kerino")

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [80]:
#renaming

In [83]:
import pandas as pd
pd.set_option('max_rows', 5)
reviews = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.501\winemag-data_first150k.csv", index_col=0)

In [84]:
reviews.rename(columns={'points': 'score'})

,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [85]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,country,description,designation,points,price,province,region_1,region_2,variety,winery
firstEntry,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
secondEntry,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [86]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields,country,description,designation,points,price,province,region_1,region_2,variety,winery
wines,,,,,,,,,,
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
...,...,...,...,...,...,...,...,...,...,...
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [87]:
#combining

In [88]:
canadian_youtube = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.731\CAvideos.csv")
british_youtube = pd.read_csv(r"C:\Users\Lenovo\AppData\Local\Temp\Rar$DIa0.602\GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

In [89]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

,,video_id_CAN,channel_title_CAN,category_id_CAN,publish_time_CAN,tags_CAN,views_CAN,likes_CAN,dislikes_CAN,comment_count_CAN,thumbnail_link_CAN,...,tags_UK,views_UK,likes_UK,dislikes_UK,comment_count_UK,thumbnail_link_UK,comments_disabled_UK,ratings_disabled_UK,video_error_or_removed_UK,description_UK
title,trending_date,,,,,,,,,,,,,,,,,,,,,
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting Over It - Part 7,18.04.01,PNn8sECd7io,Markiplier,20,2018-01-03T19:33:53.000Z,"getting over it|""markiplier""|""funny moments""|""...",835930,47058,1023,8250,https://i.ytimg.com/vi/PNn8sECd7io/default.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"#1 Fortnite World Rank - 2,323 Solo Wins!",18.09.03,DvPW66IFhMI,AlexRamiGaming,20,2018-03-09T07:15:52.000Z,"PS4 Battle Royale|""PS4 Pro Battle Royale""|""Bat...",212838,5199,542,11,https://i.ytimg.com/vi/DvPW66IFhMI/default.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels Welcome 🎰,18.07.05,Wt9Gkpmbt44,TheBigJackpot,24,2018-05-07T06:58:59.000Z,"Slot Machine|""win""|""Gambling""|""Big Win""|""raja""...",28973,2167,175,10,https://i.ytimg.com/vi/Wt9Gkpmbt44/default.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
🚨Active Shooter at YouTube Headquarters - LIVE BREAKING NEWS COVERAGE,18.04.04,Az72jrKbANA,Right Side Broadcasting Network,25,2018-04-03T23:12:37.000Z,"YouTube shooter|""YouTube active shooter""|""acti...",103513,1722,181,76,https://i.ytimg.com/vi/Az72jrKbANA/default.jpg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN